.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(black, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;

    .header {
      background-color: $grey-dark;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 8px 16px;

      .closeButton {
        background-color: rgba(black, 0);
        padding: 0;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: 100ms ease;

        &:hover {
          background-color: rgba(white, 0.1);
        }
      }

      * {
        color: white;
        font-weight: normal;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 16px;
      gap: 8px;

      .filteringList {
        border: 1px solid rgba($grey-dark, 0.1);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        box-sizing: border-box;
        padding: 24px;

        p {
          color: rgba($grey-dark, 0.5);
          user-select: none;
        }
      }

      .buttons {
        display: flex;
        gap: 8px;

        button {
          width: 100%;
        }
      }
    }
  }
}
