.adminTable {
  * {
    color: $grey-dark;
    font-size: 16px;
  }

  width: 100%;

  .options {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    .optionButton {
      .icon {
        fill: rgba($grey-dark, 0.5);
      }
      transition: 100ms ease-in-out;

      color: rgba($grey-dark, 0.5);
      font-size: 14px;
      gap: 4px;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        color: $grey-dark;

        .icon {
          fill: $grey-dark;
        }
      }
    }
  }
}
