.adminTable {
  * {
    color: $grey-dark;
    font-size: 16px;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .options {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 12px;

    .optionButton {
      .icon {
        fill: rgba($grey-dark, 0.5);
      }
      transition: 100ms ease-in-out;

      color: rgba($grey-dark, 0.5);
      font-size: 14px;
      gap: 4px;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        color: $grey-dark;

        .icon {
          fill: $grey-dark;
        }
      }
    }
  }

  .tableWrapper {
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;

    .table {
      width: 100%;
      border-collapse: collapse;

      thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: grey;
      }

      th,
      td {
        padding: 24px;
        text-align: left;
      }
    }
  }
}
