.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: $grey-dark;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 300px;
  margin: 0 24px;

  .logoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;

    hr {
      display: block;
      width: 150px;
      height: 1px;
      border: 0;
      border-top: 1px solid rgba(white, 0.05);
      padding: 0;
    }
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}
