.button {
  height: 52px;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  //@include label-medium;
  transition: all 0.2s ease;
  display: block;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}