.layout {
  max-height: 100dvh;
  display: flex;
  flex-direction: column;

  .main {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
