.adminPointsTable {
  .buttons {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
  }

  .table {
    border-collapse: collapse;

    th,
    td {
      user-select: none;
      text-align: left;
      padding: 8px;
    }

    tbody {
      tr {
        &:hover {
          background-color: #f1f1f1;
        }

        &:first-child {
          padding: 16px;
        }

        td {
          &:not(:first-child) {
            &:hover {
              background-color: #e2e2e2;
            }

            &:active {
              background-color: #d4d4d4;
            }
          }
        }
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    .input {
      width: 80px;
      font-size: 16px;
      cursor: default;

      & .isChanged {
        background-color: #fff3cd;
      }

      background-color: transparent;
      border: none;
      margin: 0;

      &:focus {
        outline: none;
      }
    }

    * {
      color: black;
    }
  }
}
