.leaderboard {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px 12px;
  border: rgba(white, 0.2) solid 1px;
  border-radius: 8px;
  overflow: hidden;
  max-height: 300px;
}

.th {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

td:first-child,
th:first-child {
  color: rgba(white, 0.5);
  text-align: center;
  width: 24px;
  white-space: nowrap;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: left;
}

td:nth-child(3),
th:nth-child(3) {
  text-align: right;
}
