.leaderboard {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px 16px;
  border: rgba(white, 0.2) solid 1px;
  border-radius: 8px;
  overflow: scroll;
  scrollbar-color: pink;
}

.team {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-left: 0;
}

.rank {
  text-align: center;
  width: 24px;
  color: rgba(white, 0.5);
  font-weight: normal;
}

.name {
  text-align: left;
  font-weight: bold;
}

.score {
  text-align: right;
}

.leaderboardContainer {
  max-height: 100%;
  overflow-y: auto;
}

.playerTd {
  text-align: left;
}

.scoreTd {
  text-align: right;
}
