.adminApplicationsPage {
  width: 100%;
  height: 100%;
  display: flex;

  .hSeparator {
    height: 100%;
    width: 20px;
    cursor: ew-resize;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .resizeHandle {
        width: 2px;
        background-color: rgba(black, 0.4);
      }
    }

    .resizeHandle {
      transition: 100ms ease-in-out;
      height: 100%;
      width: 1px;
      background-color: rgba(black, 0.1);
    }
  }
}
