.adminApplicationsPage {
  width: 100%;
  height: 100%;
  display: flex;

  .main {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      box-sizing: border-box;
      padding: 30px 40px;

      height: 105px;

      width: calc(100% + 10px);
      border-bottom: 1px solid rgba(black, 0.1);
      padding-right: -10px;
      overflow: hidden;

      .title {
        font-size: 36px;
        font-weight: normal;
      }
    }

    .tableSection {
      height: calc(100% - 105px);
      width: calc(100% + 10px);
      box-sizing: border-box;
      padding: 30px 40px;

      display: flex;

      .table {
        $scrollbar-width: 10px;
        $cell-padding-horizontal: 20px;
        $cell-padding-vertical: 12px;
        $cell-padding: $cell-padding-vertical $cell-padding-horizontal;

        th,
        td {
          &:nth-of-type(1) {
            width: 50px;
          }
        }

        height: 100%;
        width: calc(100% + $cell-padding-horizontal);
        position: relative;
        left: -$cell-padding-horizontal;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        gap: 0;
        margin: 0;
        border-collapse: collapse;
        user-select: none;
        -webkit-user-select: none;

        ::-webkit-scrollbar {
          width: $scrollbar-width;
          padding-left: 4px;
        }

        ::-webkit-scrollbar-track {
          background: rgba(black, 0.05);
        }

        ::-webkit-scrollbar-thumb {
          background: rgba(black, 0.1);
          border-radius: 8px;
        }

        ::-webkit-scrollbar-thumb:hover {
          background: rgba(black, 0.4);
        }

        * {
          box-sizing: border-box;
        }

        thead,
        tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }

        thead {
          width: calc(100% - $scrollbar-width);
          tr {
            th {
              text-align: left;

              padding: $cell-padding;
              color: rgba(black, 0.2);
              font-weight: normal;
            }
          }
        }

        tbody {
          display: block;
          overflow-y: scroll;

          tr {
            display: table;
            cursor: pointer;
            border-radius: 8px;

            /*
            &:nth-of-type(odd) {
              background-color: rgba(black, 0.02);
            }
              */

            td {
              padding: $cell-padding;

              &:first-child {
                border-radius: 8px 0 0 8px;
              }

              &:last-child {
                border-radius: 0 8px 8px 0;
              }
            }

            outline: 1px solid transparent;
            outline-offset: -1px;

            &:hover {
              outline: 1px solid rgba(black, 0.12);
              background-color: rgba(black, 0.04);
            }

            &:active {
              outline: 1px solid rgba(black, 0.12);
              background-color: rgba(black, 0.06);
            }
          }
        }
      }
    }
  }

  .hSeparator {
    height: 100%;
    width: 20px;
    cursor: ew-resize;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease-in-out;

    &:hover {
      background-color: rgba(black, 0.05);
      .resizeHandle {
        width: 2px;
        background-color: rgba(black, 0.3);
      }
    }

    .resizeHandle {
      transition: 100ms ease-in-out;
      height: 100%;
      width: 1px;
      background-color: rgba(black, 0.1);
    }
  }
}
