.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  padding: 24px;

  background-image: linear-gradient(to top, rgba(black, 0.25), rgba(black, 0));

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    transition: 200ms ease;
    cursor: pointer;
    font-size: 16px;

    border: none;
    outline: none;
    background: none;

    width: 75px;
    height: 64px;
    border-radius: 10px;

    img {
      height: 24px;
      width: 24px;
    }

    &:hover {
      background-color: rgba(white, 0.1);
    }

    &:active {
      background-color: rgba(white, 0.2);
      border: 1px solid white;
    }
  }
}
