.inputsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.pillInputContainer {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  flex: 0 0 auto;

  border-radius: 12px;
  border: 1px solid rgba($grey-dark, 0.2);
  padding: 2px 2px;

  width: clamp(60px, 12vw, 200px);
  min-width: fit-content;

  box-sizing: border-box;
  white-space: nowrap;
  transition: width 140ms ease;
}

.pillInput {
  border: none;
  outline: none;
  padding: 6px 4px;
  border-radius: 8px;
  transition: 100ms ease;
  min-width: 60px;
  box-sizing: content-box;
  width: auto;

  &:focus {
    border-color: $grey-dark;
    outline: none;
  }
}

.closeIcon {
  width: 0.95em;
  height: 0.95em;
  flex: 0 0 auto;
  cursor: pointer;
  padding-right: 6px;
}

.hiddenSpan {
  position: absolute;
  visibility: hidden;
  font: inherit;
  padding: 6px 4px;
}
