@use "sass:color";

.adminButton {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;

  transition: 100ms ease-in-out;

  display: flex;

  align-items: center;
  justify-content: center;
  gap: 4px;

  height: 40px;

  &.primary {
    background-color: $grey-dark;
    color: white;
    box-shadow: 0 0 5px 0px rgba($grey-dark, 0.15);

    &:hover {
      background-color: color.adjust($grey-dark, $lightness: 10%);
    }

    &:disabled {
      background-color: rgba($grey-dark, 0.5);
      cursor: not-allowed;
    }

    .icon {
      fill: white;
    }
  }

  &.secondary {
    background-color: rgba($grey-dark, 0.1);
    color: $grey-dark;

    &:hover {
      background-color: rgba($grey-dark, 0.2);
    }

    &:disabled {
      background-color: rgba($grey-dark, 0.05);
      cursor: not-allowed;
    }

    .icon {
      fill: $grey-dark;
    }
  }

  &.danger {
    background-color: #ff4d4f;
    color: white;

    &:hover {
      background-color: color.adjust(#ff4d4f, $lightness: -20%);
    }

    .icon {
      fill: white;
    }
  }

  &.white {
    background-color: white;
    color: $grey-dark;
  }

  &:active {
    box-shadow: none;
  }
}
