.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(white, 0.05);

  .logo {
    height: 32px;
  }

  .title {
    font-size: 20px;
  }

  &.isDesktop {
    justify-content: center;
    border-bottom: none;
    padding: 24px;

    .title {
      font-size: 32px;
    }
  }
}
