.actionsHeader {
  width: 100%;
  border-bottom: 1px solid rgba(white, 0.05);
  box-sizing: border-box;
  padding: 16px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  * {
    background: none;
    border: none;
    font-size: 16px;
    padding: 0;
  }

  select {
    option {
      color: $green-dark;
    }
  }
}

.pageWrapper {
  box-sizing: border-box;
  padding-bottom: 24px;
  padding-top: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  $card-gap: 16px;
  gap: $card-gap;

  .quizList {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: $card-gap;
    overflow-y: auto;
    flex-grow: 1;
  }
}
