.pillButton {
  border-radius: 32px;
  padding: 8px 12px;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  width: auto;
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 8px;
  }
}

.primary {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}
.primary:hover:enabled {
  background-color: rgba(255, 255, 255, 0.3);
}
.primary:active:enabled {
  background-color: rgba(255, 255, 255, 0.4);
}

.captain {
  border: 2px solid rgba(white, 0.2);
  background-color: rgba(#52c42b54, 0.33);
  color: #52c42b;

  span {
    color: #52c42b;
  }
}
.captain:hover:enabled {
  background-color: rgba(#52c42b54, 0.5);
}
.captain:active:enabled {
  background-color: rgba(#52c42b54, 0.7);
}
