.adminLayout {
  width: 100vw;
  height: 100dvh;
  background-color: $grey-dark;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  * {
    color: $grey-dark;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      align-items: center;
    }

    .left {
      gap: 8px;

      .debugInfo {
        color: rgba(white, 0.2);
        user-select: none;
      }
    }

    .right {
      gap: 16px;
    }
  }

  .main {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
}
