.page {
  padding: 0 24px;
  box-sizing: border-box;

  .title {
    color: black;
    margin-bottom: 8px;
  }

  .subtitle {
    color: rgba(black, 0.6);
    margin-bottom: 24px;
    font-size: 20px;
  }
}
