.page {
  padding: 0 40px;
  max-width: 400px;

  * {
    color: $grey-dark;
  }

  .description {
    font-size: 16px;
    color: rgba($grey-dark, 0.7);
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }
}
