.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .stringArray {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    gap: 8px;

    button {
      width: 100%;
    }
  }
}
