.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  transition: 200ms ease;
  cursor: pointer;
  font-size: 16px;

  border: none;
  outline: none;
  background: none;

  width: 75px;
  height: 64px;
  border-radius: 10px;

  user-select: none;

  img {
    height: 24px;
    width: 24px;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  &.active {
    background-color: rgba(white, 0.05);
  }

  &.desktop {
    width: 100px;
  }

  &:hover {
    background-color: rgba(white, 0.1);
  }

  &:active {
    background-color: rgba(white, 0.2);
    border: 1px solid white;
  }
}
