.pageWrapper {
  height: 100dvh;
  background-color: white;

  * {
    color: $grey-dark;
    text-align: center;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 24px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 80px;
    z-index: 1;

    .leagueTitle {
      background-color: rgb(241, 241, 241);
      color: rgba(black, 0.7);
      padding: 8px 16px;
      border-radius: 8px;
      margin-bottom: 20px;
      user-select: none;
      border: 1px solid rgb(197, 197, 197);
    }

    .title {
      font-size: 50px;
      margin-bottom: 4px;

      @media screen and (max-width: 850px) {
        font-size: 40px;
      }

      @media screen and (max-width: 420px) {
        font-size: 30px;
      }
    }

    .date {
      color: rgba(black, 0.7);
      font-size: 24px;

      @media screen and (max-width: 420px) {
        font-size: 16px;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      box-sizing: border-box;
      padding: 24px;
      border: 1px solid rgba(black, 0.1);
      border-radius: 8px;
      max-width: 400px;
      width: 100%;
      cursor: pointer;
      user-select: none;
      -webkit-user-drag: none;
      transition: 100ms ease-in-out;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .icon {
        width: 24px;
        height: 24px;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 12px;
        background-color: rgba($green-default, 0.1);

        * {
          fill: rgba($grey-dark, 0.7);
        }
      }

      .title {
        margin-bottom: 4px;
        text-align: left;
      }

      .message {
        color: rgba($grey-dark, 0.5);
        text-align: left;
      }

      * {
        fill: $grey-dark;
      }

      &:hover {
        scale: 1.01;
        box-shadow: 0 0 10px rgba(black, 0.06);
      }

      &:active {
        scale: 0.99;
        background-color: rgba(black, 0.02);
        box-shadow: 0 0 10px rgba(black, 0);
      }
    }
  }
}
